# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/

# ===============================
# IDEs / Editors
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# Reports (gerados automaticamente)
# ===============================
reports/
*.html
*.pdf
*.txt
*.csv
*.xlsx

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db
